.header-container {
    background-color: #2c3e50;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-container h1 {
    color: white;
    font-size: 3em;
    padding: 1em;
    border-radius: 10px;
    padding-bottom: 15px;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
    border: 2px solid #2c3e50;
    padding: 2em;
    border-radius: 10px;
}
#bike-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
}
#bike-form input {
    margin: 1em;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #2c3e50;
}
#bike-form button {
    padding: 0.5em 1em;
    border-radius: 5px;
    border: 1px solid #2c3e50;
    background-color: #2c3e50;
    color: white;
    cursor: pointer;
}
#bike-form button:hover {
    background-color:#78a7d6;
}
#dealer-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
}
#dealer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
}
#dealer-form input {
    margin: 1em;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #2c3e50;
}
#dealer-form button {
    padding: 0.5em 1em;
    border-radius: 5px;
    border: 1px solid #2c3e50;
    background-color: #2c3e50;
    color: white;
    cursor: pointer;
}
#dealer-form button:hover {
    background-color: #78a7d6;
}
#trail-from {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
}
#trail-from input {
    margin: 1em;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #2c3e50;
}
#trails-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
}
#trail-from button {
    padding: 0.5em 1em;
    border-radius: 5px;
    border: 1px solid #2c3e50;
    background-color: #2c3e50;
    color: white;
    cursor: pointer;
}
#get-trails:hover {
    background-color: #78a7d6;
}
#get-trails {
    padding: 0.5em 1em;
    border-radius: 5px;
    border: 1px solid #2c3e50;
    background-color: #2c3e50;
    color: white;
    cursor: pointer;
}
#section-id {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
}